*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


details {
	margin: 16px auto;
	border: 2px solid white ;
	border-bottom-color: #E8E8EA;
	padding-bottom: 15px;
	width: 350px;

}


summary {

	font-weight: 600;
	color: #1E1F36;

}


h1  {

	text-align: center;
	padding-top: 70px;
	padding-bottom: 30px;
	padding-inline: 425px;
	color: #1E1F36;

}


p{
	color: #787887;


}


.background {

	background: linear-gradient(#B068E9, #6463E7);
}

.section {
		width: 920px;
		height: 509px;
		border: 2px solid white;
    	border-radius: 23px;
		margin: 130px auto;
		background: white;
}

